@include wide-desktop{
	.holder{
		max-width: 1300px;
	}
	.section-position{
		.section-table-data{
			max-width: 1300px;
			padding: 30px;
			h2{
				@include font(40px, 45px);
				margin: 0 0 15px;
			}
			p{
				@include font(16px, 24px);
			}
		}
	}
	header{
		.logo{
			width: 175px;
		}
		nav{
			margin: 10px 0 0;
			a{
				@include font(16px, 20px);
				padding: 8px 20px;
			}
		}
	}
	section{
		h1{
			@include font(30px, 36px);
		}
		.heading{
			h2{
				@include font(30px, 36px);
				margin: 0 0 10px;
			}
		}
	}





}







